.input {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 16px;
  border-radius: 12px;
  color: white;
  outline: none;
}

.input:focus {
  border-color: #e11d48;
}

.btn-primary {
  width: 100%;
  background: #e11d48;
  padding: 16px;
  border-radius: 12px;
  font-weight: 900;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #be123c;
}

.card {
  background: rgba(0, 0, 0, 0.4);
  padding: 24px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}
